<% layout("/layouts/boilerplate") %>
<body>
    <h2 class="mt-3">All Listing</h2>
    <!-- <form action="/listing/new" method="get">
        <button>ADD new Listing</button>
    </form> -->

    <div class="row row-col-lg-4 row-col-md-2 row-col-sm-1 mt-3">
        <% for(listing of allListings) { %>
            <a href="/listing/<%= listing._id %>" class="listing-link" style="width: min-content;">
        <div class="card col">
            <img src="<%= listing.image %>" 
                class="card-img-top" 
                alt="listing_image"
                style="height: 20rem;
                        width: 20rem;"
                >
            <div class="card-img-overlay"> </div>
            <div class="card-body">
                <p class="card-text">
                    <b><%= listing.title %></b><br>
                    &#8377; <%= listing.price.toLocaleString("en-IN") %> /night
                </p>
            </div>
        </div>
        </a>
        <% } %>
    </div>
</body>
