<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h2>Lets Create a New Listing</h2><br>
            <form action="/listing" method="post">
                <div class="mb-3">
                    <label for="title" class="form-lable">Title</label>
                    <input type="text" name="listing[title]" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-lable">Description</label>
                    <textarea name="listing[description]" rows="3" cols="20" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-lable">Image</label>
                    <input type="text" name="listing[image]" placeholder="image URL/Link" class="form-control">
                </div>
                <div class="row">
                    <div  class="mb-3 col-md-4">
                        <label for="price" class="form-lable">Price</label>
                        <input type="number" name="listing[price]" class="form-control">
                    </div>
                    <div  class="mb-3 col-md-8">
                        <label for="country" class="form-lable">Country</label>
                        <input type="text" name="listing[country]" class="form-control">
                    </div>
                </div>
                <div  class="mb-3">
                    <label for="location" class="form-lable">Location</label>
                    <input type="text" name="listing[location]" class="form-control">
                </div>
                <button class="btn btn-dark add-btn mb-3 mt-3">ADD</button>
                <br><br>
            </form>
        </div>
    </div>
</body>